<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq7z26EXKaTub1OikGwIUd_xT4dq5O7r4</string>
	<key>GCM_SENDER_ID</key>
	<string>949162944890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swiftBuy</string>
	<key>PROJECT_ID</key>
	<string>swift-buy-437a2</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-buy-437a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949162944890:ios:b0684dbdea30118c154ec3</string>
</dict>
</plist>